body {
  margin: 0;
  overflow: hidden;
  background-color: #aaa;
  font-family: sans;
}

a {
  cursor: pointer;
}

span, button, a {
  font-family: Roboto;
}

button {
  background: transparent;
  border: 1px solid white;
  padding: 0.4em;
  color: white;
  box-shadow: 0 0 0;
  text-shadow: 0 0 0;
}

button:hover {
  background: white;
  color: black;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.colorCell {
  padding: 5px !important;
}

.blockMenuItem{
  padding-top: 5px;
}

#valueBoard,
#orientationBoard,
#navigationBoard,
#blockMenuResidential,
#blockMenuCommercial {
  position: absolute;
  padding: 1em;
  background-color: black;
  color: white;
  z-index: 10;
}

#valueBoard {
  left: 20px;
  bottom: 20px;
  width: 350px;
  height: 280px;
  display: none;
}

.value-span {
  float: right;
}

#blockMenuResidential, #blockMenuCommercial {
  display: none;
  top: 30px;
  right: 30px;
  width: 330px;
  height: 260px;
  color: white;
  background-color: black;
}

#blockMenuResidential {
  height: 90px;
}

#selectTypeTitle {
  margin-bottom: 1em;
}

.blockMenuItem {
  cursor: pointer;
}

.menu-label {
  display: inline-block;
  width: 100%;
  margin-bottom: 2px;
  padding: 6px 0px;
  text-transform: uppercase;
  box-sizing: border-box;
  border-radius: 1px;
  font-family: Roboto;
}

.menu-label a {
  padding-left: .6em;
}

.menu-label:hover {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.menu-label.blue {
  background-color: rgba(65, 138, 132, 1);
}

.menu-label.orange {
  background-color: rgba(155, 69, 33, 1);
}

.menu-label.yellow {
  background-color: rgba(191, 144, 0, 1);
}

.menu-label.skin {
  background-color: rgba(191, 158, 116, 1);
}

.menu-label.brown {
  background-color: rgba(81, 50, 49, 1);
}

.menu-label.red {
  background-color: rgba(110, 27, 24, 1);
}

.menu-label.green {
  background-color: rgba(105, 120, 61, 1);
}
